

html {
    min-height:100%;
    margin: 0;
    
}

body {

    background: linear-gradient(#888888,#222222);
    height: 100vh;
    min-height:100%;
}

.hello {color:purple;}

.wrapper {
font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 10px 10px 30px -10px;


}


.me {
    width:150px;
    border-radius:50%;
    margin:auto;
    display:block;
    margin-bottom:-75px;
    margin-top:120px;
    border-width: 4px;
    border-style:solid;
    border-color:white;
    box-shadow: 10px 10px 30px -10px;




}

h1 {

    text-align:center;
    margin:15px;
    padding-top:75px
}

p {

    color:rgb(0, 0, 0);
    text-align: center;
    margin:15px;


}

.aboutlink{
    text-align: center;
    display:block;
    margin:15px;
}

.youtube {display:flex;

width: 100%;}

iframe {margin:10px;
box-sizing:border-box;}


@media only screen and (max-width:800px) {

    .youtube {

        display:block;
        margin:0 auto;
        width:100%;
    }

    p {color:red;}
    
    .wrapper {

        width:80vw;
        margin:auto;
        background-color:blue;
        overflow:hidden;
    }

    iframe {

        width: 100%;
    }
}

nav {

    margin:20px;
    box-sizing:border-box;
}