

html {
    min-height:100%;
    margin: 0;
    
}

body {

    background: linear-gradient(45deg,#F6921B, #FF0068);
    height: 100%;
    min-height:100%;
}

.hello {color:purple;}

.wrapper {
font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 10px 10px 30px -10px;
    box-sizing: border-box;
    height:500px;
    padding-top:40px;


}


/* This is my image */


.me {
    width:150px;
    border-radius:50%;
    margin:auto;
    display:block;
    margin-top:60px;
    margin-bottom: 60px;
    border-width: 4px;
   /* border-style:solid; */
    border-color:white;
    box-shadow: 10px 10px 30px -10px;
    box-sizing:border-box;
}

h1 {

    text-align:center;
    margin:15px;
    padding-top:75px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 3em;
}

p {

    color:rgb(0, 0, 0);
    text-align: center;
    margin:15px;


}

.aboutlink{
    text-align: center;
    display:block;
    margin:15px;
}

.youtube {display:flex;

width: 100%;}

iframe {margin:10px;
box-sizing:border-box;}


.secondrow {

    height:140px;
    display:flex;
    align-items: center;
    justify-content: center;
}







/*this is media only queries*/

@media only screen and (max-width:800px) {

    .youtube {

        display:block;
        margin:0 auto;
        width:100%;
    }

    p {color:red;}
    
    .wrapper {

        width:80vw;
        margin:auto;
      
    margin-bottom: 100px;


    }

    iframe {

        width: 100%;
    }
}

nav {

    margin:20px;
    box-sizing:border-box;
}