
* {margin: 0px;
padding: 0px;}

.hello {color:purple;}

.wrapper {

    width: 960px;
    margin: 0 auto;
    background-color:#fff;
}

img {width: 80vw;
    margin: 0 auto;
    max-width: 960px;

}

p {

    color:rgb(0, 255, 13);


}